@import "variables"

div h1 {
  font-size: 42pt;
  font-weight: bolder;
  margin-top 1em;

}

h2 {
  font-size: 36pt;
  font-weight: bold;
  margin: 1em 0;
}

ul {
  margin: 1.5em;
  list-style-type: circle;
  line-height: 1.75em;
  &.small {
   small()
  }
}

.frag {
  font-weight 700;
  background-color beige;
  width 60%;
  text-align right;
}